html, body{
  margin: 0;
  padding: 5px;
  height: 100%;
}

.email-block{
  padding-bottom: 1.26rem; //20
}

.ft-14{
  font-size: 14px;
}

.success-letter{
  color: green;
  font-size: 23px;
  padding-left: 10px;
}

#root{
  height: 100%;
}

.authorization-page{
  height: 100%;
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали в центре */
  align-items: center;
}

.signInBtn{
  margin: 0 auto;
}

.email-block{
  border: 1px dashed;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-btn-block{
  text-align: right;
}